
body{
	background-color: #F8F8F8;
}
.zq-wrap {
	background: #fff;
}

.zq-display-none {
	display: none;
}
.zq-hide{
	display: none;
}
a{
	color:inherit;
}
/* 禁止点击事件 start */
.zq-submit-disabled{
	pointer-events: none;
}
/* 禁止点击事件 end */
/* 浮动 */
.zq-flost-l{
	float: left !important;
}
.zq-flost-r{
	float: right !important;
}
/* 浮动 */

/* 外边距 */
.zq-margin-auto {
	margin: 0 auto;
}

.zq-margin-lr20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.zq-margin-b30 {
	margin-bottom: 30px !important;
}

.zq-margin-b20 {
	margin-bottom: 20px !important;
}

.zq-margin-t30 {
	margin-top: 30px !important;

}

.zq-margin-t-10 {
	margin-top: -10px !important;
}

/* 外边距 */

/* 边框 */
.zq-border-0 {
	border: 0 !important;
}

.zq-border-1 {}

/* 边框 */


.zq-flex {
	display: flex;
}

.zq-flex-1 {
	flex: 1;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	position: absolute;
	left: -1px;
	top: -1px;
	padding: 1px;
	width: 100%;
	height: 100%;
	background-color: #00a2d9;
}
/* 内边距 */
.zq-padding-10 {
	padding: 10px;
}

.zq-padding-b-100 {
	padding-bottom: 100px !important;
}

.zq-padding-b-20 {
	padding-bottom: 100px !important;
}

.zq-padding-lr-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* 内边距 */

/* 最大最小宽度高度 */
.zq-min-h800 {
	min-height: 700px !important;
}
.zq-min-h350{
	min-height: 350px;
	height: auto;
}
.zq-width-80 {
	width: 80px;
}

/* 最大最小宽度高度 */

/* 文字对齐 */
.zq-text-align-c {
	text-align: center !important;
}
.zq-text-align-l {
	text-align: left !important;
}
.zq-text-align-r {
	text-align: right !important;
}



/* 文字对齐 */

/* 文字颜色 */
.zq-color-red {
	color: red !important;
}

/* 文字颜色 */

/* 字体图标 */
.zq-icon {
	width: 14px;
	height: 14px;
	vertical-align: -0.15em;
	color: black;
	fill: currentColor;
	overflow: hidden;
	cursor: pointer;
}

/* 字体图标 */

/* 富文本编辑器 */
#editor>.w-e-text-container{
	height: 500px !important;
}
#editor1>.w-e-text{
	max-height: 500px;
	height: auto !important;
}

/* 状态背景色 */
.zq-bg1{
	background-color: #18a689;
}
.zq-bg2{
	background-color: #00a2d9;
}
.zq-bg3{
	background-color: #ff9122;
}
.zq-bg4{
	background-color: #c75757;
}
.zq-bg5{
	background-color: #ff5b5b;
}
.zq-bg-red{
	background-color: red;
}
.zq-bg-orange{
	background-color: orange;
}
.zq-bg-blue{
	background-color: blue;
}
.zq-bg-yellow{
	background-color: yellow;
	color: black!important;
}
.zq-bg-gray{
	background-color: gray;
}
.zq-bg-white{
	background-color: white;
	color: black!important;
}

/* 状态背景色 */


/* 设置列表页滚动条样式 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.zq-wrap .index-table .layui-table-body.layui-table-main::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
.zq-wrap .index-table .layui-table-body.layui-table-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
.zq-wrap .index-table .layui-table-body.layui-table-main::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 2px #828E94;
	background: #828E94;
}
/* 设置列表页滚动条样式 */

/* 搜索 */
/*.zq-search-form {*/
/*padding: 20px 20px 0;*/
/*}*/

.zq-search {
	/*overflow: hidden;*/
	box-sizing: border-box;
	border: 1px solid #e6e6e6;
	border-bottom: 0;
	display: flex;
	margin-top: 10px;
}

.zq-search input {
	border: 0;
}

.zq-search .item {
	flex: 1;
	border-right: 1px solid #e6e6e6;
}

.zq-search .item:last-child {
	border: 0;
}

/* 搜索 */

/* layui数据表格 */

.layui-table-header th{
	/* color: #333; */
	font-weight: bold;
}

.zq-search-form .zq-btn-list {
	padding: 10px 10px;
	/* background-color: #f2f2f2; */
	border-bottom: 0;
}

.zq-btn-list {
	float: right;
	/*padding: 10px 0px;*/
	/*border-bottom: 1px solid #ccc;*/
}

.zq-btn {
	box-sizing: border-box;
	height: 38px;
	border: 2px solid #41cac0;
	background-color: #41cac0;
	border-radius: 5px;
	color: #fff;
	padding: 0 20px;
	margin-right: 5px;
	cursor: pointer;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.zq-btn .layui-icon{
	margin-right: 5px;
	font-size: 18px;
	vertical-align: -1.3px;
}

.zq-btn .layui-icon-search , .zq-btn .layui-icon-refresh{
	font-size: 16px;
}

.zq-btn:hover {

	background-color: #39b2a9;
	border-color: #39b2a9;
	color: #FFFFFF;
}

.zq-layui-table {

	margin: 0px 20px;
	padding-bottom: 20px;
}

.layui-table-click,
.layui-table-hover {
	background-color: #f2f2f2 !important;
	/*color: #333 !important; */
}
.zq-wrap .index-table .layui-table thead th{
	padding-bottom: 40px;
}
.zq-open {
	color: #00a2d9;
	cursor: pointer;
}
.zq-wrap .index-table .layui-table{
	width: 100%;
}
.zq-wrap .index-table .layui-table th,.zq-wrap .index-table .layui-table td{
	border: 0;
	border-bottom: 1px solid #e6e6e6;
}
.zq-wrap .index-table .layui-table-page {
	border: none;
	padding: 15px 7px 0;
}
.zq-wrap .index-table .layui-table-view{
	border: 0;
}
/* layui数据表格*/

/* 添加/编辑页面的表格 */
.zq-form-container {
	min-height: 650px;
	padding-bottom: 100px;
}

.zq-table,
.zq-inner {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
/*.zq-datatable>.zq-title{*/
/*line-height: 35px;*/
/*padding-top: 10px;*/
/*}*/
.zq-inner {
	margin-top: 15px;
}
.zq-inner .zq-item{
	float: left;
	line-height: 38px;
	margin-right: 15px;
}
.zq-inner:after{
	display: block;
	/*设置为块级元素，如果是行内元素，则不起作用 */
	clear: both;
	/*清除浮动*/
	content: '.';
	/*内容随便拉拉*/
	visibility: hidden;
	/*设置为隐藏*/
	height: 0;
}
.zq-inner label{
	/*margin-right: 5px;*/
}
.zq-inner input {
	height: 28px;
	border: 0;
	border-bottom: 1px solid #000;
	padding: 2px 5px;
	width: 180px !important;
	display: inline-block;
	box-sizing: border-box;
}
.zq-inner .layui-input:hover{
	border-color: #000000 !important;
}
.zq-inner .layui-form-select{
	width: 180px;
	display: inline-block;
}



.zq-table-title {
	border-bottom: 1px solid #000;
	font-size: 18px;
	font-weight: 600;
	padding: 0 5px 3px;
	display: inline-block;
	letter-spacing: 5px;
}

.zq-table input {
	padding: 2px 5px;
	border: 0;
	box-sizing: border-box;
}

.zq-table th,
.zq-table td {
	border: 1px solid black;
	line-height: 38px;
	padding: 0px 5px;
	box-sizing: border-box;
}

.zq-table thead td ,.zq-table thead th{
	border: 0;
}
.zq-th-width240{
	width: 240px;
}

.zq-table thead input {
	height: 28px;
	border-bottom: 1px solid #000;
}
.zq-table thead .layui-form-select{
	width: 180px;
	display: inline-block;
}
.zq-table thead .layui-form-select .layui-input{
	height: 28px;
}

.zq-table thead .layui-form-select{
	text-align: left !important;
}
.zq-table thead .layui-input:hover{
	border-color: #000000 !important;
}
.zq-table thead{
	padding-bottom: 10px;
}
.zq-table tbody td input {
	width: 100%;
}


/* 动态表格 */
/*.zq-datatable .layui-table-view,*/
/*.zq-datatable .layui-table-view th,*/
/*.zq-datatable .layui-table-view,*/
/*.zq-datatable .layui-table-view td,*/
/*.zq-datatable .layui-table-total {*/
/*border-color: black;*/
/*}*/

/*.zq-datatable .layui-table-header .layui-table {*/
/*margin-bottom: 0;*/
/*}*/

/*.zq-datatable .layui-table-header .layui-table tr {*/
/*background-color: white;*/
/*}*/

/*.zq-datatable .layui-table-cell {*/
/*padding: 0 5px;*/
/*color: #000;*/
/*}*/

.zq-datatable .layui-table-body td {
	position: relative;
}

.zq-datatable .zq-fangdajing {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	line-height: 38px;
	padding: 0 5px;
	cursor: pointer;
}

.zq-datatable .zq-input {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}



/* 添加/编辑页面的表格 */


/* 添加页面排版 start */
.zq-form-wrap {
	width: 90%;
	/*padding-bottom: 60px;*/

}

.zq-form-wrap:after {
	display: block;
	/*设置为块级元素，如果是行内元素，则不起作用 */
	clear: both;
	/*清除浮动*/
	content: '.';
	/*内容随便拉拉*/
	visibility: hidden;
	/*设置为隐藏*/
	height: 0;
}
.layui-form label,.layui-form input,.layui-form textarea{
	/*border-color: #59788a !important;*/
	/*background-color: transparent!important;*/
	/*color: #aacee0 !important;*/
}
.zq-wrap input:hover,.zq-wrap input:focus,.zq-wrap textarea:hover,.zq-wrap textarea:focus{
	/*border-color: #57b1f7 !important;*/
}

.zq-form-wrap .layui-form-item {
	margin-bottom: 25px;
}

.zq-form-wrap .layui-form-item .layui-form-label b {
	color: red;
	font-size: 18px;
}

.zq-form-wrap .layui-form-item .layui-form-label {
	width: 170px;
}

.zq-form-wrap .layui-form-item .layui-input-block {
	margin-left: 200px;
}

.layui-form-pane .layui-form-item {
	margin-bottom: 15px;
}

.layui-form-pane .layui-form-item .layui-form-label {
	width: 120px;
}

.layui-form-pane .layui-form-item .layui-input-block {
	margin-left: 120px;
}

.layui-form-pane .layui-form-text .layui-form-label {
	width: 100%;
}

.layui-form-pane .layui-form-text .layui-input-block {
	margin: 0;
}

.layui-form-pane .zq-form-wrap {
	margin-left: auto;
	margin-right: auto;
}

.zq-form .zq-btn-list {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f8f8f8;
	z-index: 1;
	padding: 10px 10px;
	/*border-top: 1px solid #59788a;*/
	text-align: right;
}

/* 上传图片 */
.zq-img-file img {
	width: 120px;
	height: 120px;
}

/* 上传图片 */
/* 添加页面排版  end*/

/* 添加页面排版  from zhangxin 2019/05/19 start */

.zq-sidebar .logo {
	margin: 10px 0;
	height: auto;
	box-shadow: none;
}
.zq-sidebar .logo img {
	width: 80%;
}

.zq-sidebar .layui-side-scroll {
	width: 200px;
}











.layui-nav.zq-nav-tree .layui-nav-bar {
	width: 4px;
	background-color: #188ae2;
}






.layui-side-block {
	height: calc(100% - 100px);;
}







.zq-main .layui-tab-title {
	position: relative;
	left: 0;
	height: 40px;
	white-space: nowrap;
	font-size: 0;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	transition: all .2s;
	-webkit-transition: all .2s;
}



.zq-main .operation .layui-nav-more{
	opacity: 0;
}
.zq-wrap{
	/*min-width: 1200px;*/
	min-height: 100%;
	background-color: transparent;
	position: relative;
	padding: 10px;
}
.zq-wrap .layui-card{
	padding: 10px 20px 70px 20px;
	/*box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.06), 0px 1px 0px 0 rgba(0, 0, 0, 0.02);*/
	border-radius: 5px;
	margin-bottom: 20px;
	/*background-color: #2f3e47;*/
}

.zq-main .layui-tab-content {
	padding: 10px;
}

.zq-layui-table{
	margin: 0;
}
.zq-wrap .layui-card-header{
	height: auto;
}
.zq-wrap .layui-card-header,
.zq-wrap .layui-card-body{
	padding: 0;
}
.layui-card-body.index-body{
	overflow-x: hidden;
}

.zq-wrap .layui-card-header h3{
	color: #505050;
	font-size: 18px;
	font-weight: 600;
	font-family: "Karla", sans-serif;
}

.zq-wrap .layui-card-header h3.left{
	float: left;
}
.zq-wrap .layui-card-header .zq-btn-list .layui-form{
	float: right;
}
.zq-wrap .layui-card-header .zq-btn-list .layui-form .layui-inline{
	margin-right: 10px;
}
.zq-wrap .layui-card-header h3 span{
	color: #505050 ;
	font-size: 14px;
	font-weight: normal;
	font-family: "Karla", sans-serif;
}

.zq-wrap .layui-card-header {
	border-bottom: none;
	/*border-bottom: 1px solid #aacee0;*/
}

.zq-wrap .layui-table {
	/*width: 100%;*/
	/*background: #fff;*/
	color: black;
	border-collapse:collapse;
}

.zq-wrap .layui-table td,
.zq-wrap .layui-table th,
.zq-wrap .layui-table-col-set,
.zq-wrap .layui-table-fixed-r,
.zq-wrap .layui-table-grid-down,
.zq-wrap .layui-table-header,
.zq-wrap .layui-table-tips-main,
.zq-wrap .layui-table-tool,
.zq-wrap .layui-table-total,
.zq-wrap .layui-table[lay-skin=line],
.zq-wrap .layui-table[lay-skin=row] {
	/*border: none;*/
	/*border-bottom: 1px solid black;*/
}

.zq-wrap .layui-table tbody tr:hover,
.zq-wrap .layui-table thead tr,
.zq-wrap .layui-table-click,
.zq-wrap .layui-table-header,
.zq-wrap .layui-table-hover,
.zq-wrap .layui-table-mend,
.zq-wrap .layui-table-patch,
.zq-wrap .layui-table-tool,
.zq-wrap .layui-table-total,
.zq-wrap .layui-table-total tr {
	/*background-color: #354650;*/
}

.zq-wrap .layui-table thead th {
	/*padding-bottom: 40px;*/
}

.layui-btn {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	padding: 0 18px;
	/*color: #fff;*/
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	/*border: none;*/
	border-radius: 4px;
	cursor: pointer;
	margin-left: 5px;
}

.layui-btn-xs {
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	font-size: 12px;
}

.layui-btn.blue{
	/*border: 1px solid rgba(23, 129, 212, 0.3) ;*/
	/*background-color: rgba(24, 138, 226, 0.2) ;*/
	background-color: #00a2d9 !important;
	border: 1px solid #00a2d9 !important;
	color: #fff ;
}

.layui-btn.red{
	/*border: 1px solid rgba(255, 91, 91, 0.3) ;*/
	/*background-color: rgba(255, 91, 91, 0.2) ;*/
	background-color: #c75757 !important;
	border: 1px solid #c75757 !important;
	color: #FFF ;
}
.layui-btn.green{
	/*border: 1px solid rgba(16, 196, 105, 0.2) ;*/
	/*background-color: rgba(16, 196, 105, 0.15) ;*/
	background-color: #18a689 !important;
	border: 1px solid #18a689 !important;
	color: #FFF ;
}
.layui-btn.green:hover{
	/*border: 1px solid rgba(16,196,105, 0.8);*/
	/*background-color: rgba(16, 196, 125, 0.2) ;*/
	background-color: #159077 !important;
	border: 1px solid #159077 !important;
	color: #FFF !important;
	opacity: 1;

}

.layui-btn.blue:hover{
	/*border: 1px solid rgb(87, 177, 247, 0.8);*/
	/*background-color: rgba(24, 138, 226, 0.2) ;*/
	background-color: #008fc0 !important;
	border: 1px solid #008fc0 !important;
	color: #fff ;
	opacity: 1;

}

.layui-btn.red:hover{
	/*border: 1px solid rgba(255, 91, 91, 0.8) ;*/
	/*background-color: rgba(255, 91, 91, 0.2) ;*/
	background-color: #c14444 !important;
	border: 1px solid #c14444 !important;
	color: #FFF;
	opacity: 1;
}



/*.zq-wrap .zq-btn-list .layui-btn:first-child{*/
/*border-radius: 2px 0 0 2px;*/
/*}*/

/*.zq-wrap .zq-btn-list .layui-btn:last-child{*/
/*border-radius: 0 2px 2px 0;*/
/*}*/


.layui-btn .layui-icon {
	margin-right: 3px;
	font-size: 14px;
	vertical-align: top
}



.zq-search-form .zq-search-wrap{
	position: relative;
}
.zq-search-form .zq-search-fixed{
	position:absolute;
	left: 0;
	z-index: 130;
	background-color: #f2f2f2;
}
.zq-wrap .zq-search {
	box-sizing: border-box;
	border: none;
	border-bottom: 0;
	display: flex;
	margin-top: 0;
	/*position: absolute;*/
}
.zq-wrap .zq-search.search{
	min-width: 100%;
}
.zq-wrap .zq-search .item {
	padding:0 10px;
	flex: 1;
	border-right: none;
	position: relative;
	box-sizing: border-box;
}

.zq-wrap .zq-search .item button {
	position: absolute;
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	/*color: #aacee0;*/
	cursor: pointer;
	z-index: 1;
}

.zq-wrap .zq-search .item input {
	/*background-color: #354650;*/
	/*border: 1px solid #415663;*/
	border-radius: 2px;
	font-size: 14px;
	line-height: 14px;
	max-width: 100%;
	color: #7b7b7b;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0 5px 0 30px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
	height: 30px;
}

.zq-wrap .zq-search .item input:focus {
	border: 1px solid #57b1f7!important;
}


.zq-wrap .zq-search-form{
	position: absolute;
	top: 50px;
	z-index: 1000;
	width: 100%;
	/*overflow: hidden;*/
}


.zq-wrap .layui-table-view{
	/*border: none;*/
	/*border-right: 1px solid #354650;*/
}


.zq-wrap .layui-table-page {
	/*.zq-wrap .layui-table*/
}

.zq-wrap .layui-disabled,
.zq-wrap .layui-disabled:hover {
	color: #7b7b7b!important;
	cursor: not-allowed!important;
}

.zq-wrap .layui-laypage .layui-laypage-count {
	/*color: #aacee0;*/
}

.zq-wrap .layui-table-page .layui-laypage a {
	/*color: #aacee0;*/
}

.zq-wrap .layui-table-page .layui-laypage a:hover {
	color: #57b1f7;
}

.zq-wrap .layui-table-page .layui-laypage select,
.zq-wrap .layui-table-page .layui-laypage input,
.zq-wrap .layui-table-page .layui-laypage button{
	/*background-color: #354650;*/
	/*border: 1px solid #415663;*/
	/*border-radius: 2px;*/
	/*font-size: 14px;*/
	/*line-height: 14px;*/
	/*max-width: 100%;*/
	/*color: #aacee0;*/
	/*-webkit-box-shadow: none;*/
	/*box-shadow: none;*/
	/*padding: 0;*/
	/*-webkit-transition: all 300ms linear;*/
	/*-moz-transition: all 300ms linear;*/
	/*-o-transition: all 300ms linear;*/
	/*-ms-transition: all 300ms linear;*/
	/*transition: all 300ms linear;*/
	/*height: 24px;*/
}

.zq-wrap .layui-laypage input:focus,
.zq-wrap .layui-laypage select:focus,
.zq-wrap .layui-laypage button:hover{
	/*border-color: #57b1f7!important;*/
}

.zq-wrap .layui-table-page .layui-laypage button{
	padding: 0 10px;
	height: 26px;
}

.zq-wrap .layui-form-select dl {
	font-weight: normal;
	position: absolute;
	left: 0;
	top: 30px;
	bottom: unset;
	padding: 0;
	z-index: 899;
	min-width: 100%;
	max-height: 300px;
	overflow-y: auto;
	/*background-color: #354650;*/
	border-radius: 2px;
	box-sizing: border-box;
	text-align: left;
	/* background-color: #354650; */
	/*border: 1px solid #415663;*/
	/*color: #aacee0;*/
}

.zq-wrap .layui-form-select dl dd.layui-this,
.layui-form-select dl dd:hover{
	background-color: #417ba2;
	color: #fff;
}



/* 新增-页面样式  */
/* 页面样式 */
.zq-min-width1400{
	min-width: 1440px;
}
.zq-wrap .zq-container{
	width:95%;
	margin: 50px auto 0 auto;
	max-width: 1200px;
}
.zq-container .zq-item{
	line-height: 38px;
	/*color: #aacee0;*/
}
.zq-container .zq-item input{
	height: 28px;
	border: 0;
	border-bottom: 1px solid black;
	padding: 2px 5px;
	width: 180px !important;
	display: inline-block;
	box-sizing: border-box;
	background-color: transparent;
	/*color: #aacee0;*/
}
.zq-container .zq-item input:focus {
	border: 0;
	border-bottom: 1px solid #57b1f7!important;
}
.zq-container .zq-table{
	width: 100%;
}
.zq-container .zq-table td,.zq-container .zq-table th{
	border:1px solid black;
	/*color: #aacee0;*/
}
.zq-container .zq-table td,.zq-container .zq-table th{
	border:1px solid black;
	/*color: #aacee0;*/
}
.zq-container .zq-table input{
	background-color: transparent;
	color: black;
}
.zq-container .zq-table .layui-form-select dl{
	top:39px;
}
.zq-container .layui-table thead th{
	/*padding-bottom: 0;*/
}

.zq-container .layui-table-view{
	border-color: black !important;
	/*border-right:1px solid #59788a;*/
	/*border-bottom:1px solid #59788a;*/
}
.zq-container .layui-table-view .layui-table-header tr:first-child th{
	/*border-top-width: 0;*/
}
.zq-container .layui-table-view tr th:first-child,.zq-container .layui-table-view tr td:first-child{
	border-left-width: 0;
}
.zq-container .layui-table-view .layui-table{
	/*width: auto;*/
}
.zq-container .layui-table-cell{
	padding: 0 5px;
}
.zq-container .layui-table td,
.zq-container .layui-table th,
.zq-container .layui-table-header,
.zq-container .layui-table-total{
	border-color:black;
}
.zq-container .layui-table td input{
	/*background-color: #aacee0;*/
}
.zq-container .layui-table .iconfont.red{
	color: black;
	cursor:pointer;
}
.zq-container .layui-table .iconfont.green{
	color: black;
	cursor:pointer;
}

.zq-container .remarks{
	width: 100%;
	margin-top: 5px;
}
.zq-container .remarks textarea{
	/*background-color: transparent;*/
	border-color: black;
	/*color: #aacee0;*/
}
.zq-container .remarks textarea:hover,.zq-container .remarks textarea:focus{
	border-color: #57b1f7 !important;
}
.zq-container .zq-item .layui-form-select{
	width: 180px;
	display: inline-block;
}

.zq-container .zq-item .layui-form-select .layui-input{
	height: 28px;
	border: 0;
	border-bottom: 1px solid #415663;
	padding: 2px 5px;
	width: 180px !important;
	display: inline-block;
	box-sizing: border-box;
}
/* 弹窗表格 */
.layui-layer-iframe .layui-layer-title,.layui-layer-page .layui-layer-title{
	/*background-color: #253138;*/
	/*border-bottom:1px solid #374a54;*/
	/*color: #919FA6;*/
	/*font-size: 16px;*/
	/*font-weight: 600;*/
	/*!*margin-bottom: -1px;*!*/

}

.layui-layer-content .layui-layer-setwin cite{
	/*background-color: #aacee0;;*/
}
.zq-layui-table.zq-showtable .layui-table thead th{
	padding-bottom: 0;
}



/*.w-e-toolbar {*/
/*background-color: #354650!important;*/
/*border: 0!important;*/
/*}*/
/*.w-e-toolbar .w-e-menu i{*/
/*color: #98a6ad!important;*/
/*opacity:0.8;*/
/*}*/
/*.w-e-toolbar .w-e-menu:hover i{*/
/*color: #98a6ad!important;*/
/*opacity:0.5;*/
/*}*/
.w-e-text-container {
	border: 0!important;
}

/*!* 设置Chrome浏览器下滚动条的样式 *!*/
.w-e-text-container::-webkit-scrollbar {/*滚动条*/
	width:10px;
	height: 10px;
}
.w-e-text-container::-webkit-scrollbar-track {/*滚动槽*/
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius:10px;
}
.w-e-text-container::-webkit-scrollbar-thumb {/*滚动条滑块*/
	border-radius:10px;
	background:rgba(76,91,99,.4);
	/*-webkit-box-shadow:inset 0 0 6px rgba(76,91,99,0.5);*/
}
.zq-wrap .layui-form .layui-form-select dl{
	top: 38px;
	z-index: 99999;
}
.layui-form-pane textarea{
	resize: none;
}
.layui-textarea{
	min-height: 150px;
	resize: none;
}

/*!* 设置Chrome浏览器下滚动条的样式 *!*/
/*.zq-layui-table .layui-table-view .layui-table-body::-webkit-scrollbar {!*滚动条*!*/
/*width:10px;*/
/*height: 10px;*/
/*}*/
/*.zq-layui-table .layui-table-view .layui-table-body::-webkit-scrollbar-track {!*滚动槽*!*/
/*!*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);*!*/
/*border-radius:10px;*/
/*}*/
/*.zq-layui-table .layui-table-view .layui-table-body::-webkit-scrollbar-thumb {!*滚动条滑块*!*/
/*border-radius:10px;*/
/*background:rgba(76,91,99,.4);*/
/*!*-webkit-box-shadow:inset 0 0 6px rgba(76,91,99,0.5);*!*/
/*}*/



/* 滚动条样式 */

